<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
    <style>
        .movie-details {
            max-width: 600px;
            margin: 0 auto 30px auto;
            padding: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        h2{
            text-align: center;
        }
        ul{
            list-style: none;
        }
        .user-pref-link {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>

    <h1>PopcornHub</h1>
    <a href="http://127.0.0.1:8000/Preferences/ViewPreferences/" class="user-pref-link">User Preferences</a>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
        <input type="hidden" name="action_type" value="search">
    </form>

     <form action="{% url 'Movie:signout' %}" method="post" class="user-preferences">
        {% csrf_token %}
        <button type="submit">Sign Out</button>
    </form>

    <form method="post" action="{% url 'Movie:displayDetails' %}">
        {% csrf_token %}
        <button class="actor-button">Actors</button>
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <ul>
            {% for movie in movies %}
                <div class="movie-details">
                <li>
                    <h2>Movie Title: {{ movie.MovieTitle }}</h2>
                    <p><strong>Movie ID:</strong> {{ movie.MovieID }}</p>
                    <p><strong>Release Date:</strong> {{ movie.ReleaseDate }}</p>
                    <p><strong>Genre:</strong> {{ movie.Genre }}</p>
                    <p><strong>Description:</strong> {{ movie.Description }}</p>
                    <p><strong>Rating:</strong> {{ movie.Rating }}</p>
                    <p><strong>RunTime:</strong> {{ movie.RunTime }}</p>
                    <p><strong>Director:</strong> {{ movie.Director }}</p>
                </li>

                    <form method="post">
                        {% csrf_token %}
                        <button class="button">Add to Favorite</button>
                        <input type="hidden" name="action_type" value="addMovie">
                        <input type="hidden" name="movie_id" value = {{movie.MovieID}} >
                    </form>

                    <form method="post">
                        {% csrf_token %}
                        <button class="button">Add to Watchlist</button>
                        <input type="hidden" name="action_type" value="addWatchlist">
                        <input type="hidden" name="movie_id" value = {{movie.MovieID}} >
                    </form>

                    <form method="post">
                        {% csrf_token %}
                        <button class="button">Mark as Watched</button>
                        <input type="hidden" name="action_type" value="addWatched">
                        <input type="hidden" name="movie_id" value = {{movie.MovieID}} >
                    </form>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
