<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>PopCornHub - SignUp</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>

<body>
    <div class="wrap">
      <h1 class="form-title">REGISTRATION</h1>
      <form action="Login.html">
        <div class="main-info">
          <div class="input-first">
            <label for="firstName">First Name:</label>
            <input type="text"
                    id="firstName"
                    name="firstName"
                    placeholder="Enter First Name"/>
          </div>

          <div class="input-last">
            <label for="lastName">Last Name:</label>
            <input type="text"
                    id="lastName"
                    name="lastName"
                    placeholder="Enter Last Name"/>
          </div>

          <div class="input-user">
            <label for="username">Username:</label>
            <input type="text"
                    id="username"
                    name="username"
                    placeholder="Enter Username"/>
          </div>

          <div class="input-email">
            <label for="email">Email:</label>
            <input type="email"
                    id="email"
                    name="email"
                    placeholder="Enter Email"/>
          </div>

          <div class="input-pass">
            <label for="password">Password:</label>
            <input type="password"
                    id="password"
                    name="password"
                    placeholder="Enter Password"/>
          </div>

          <div class="input-pass">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Confirm Password"/>
          </div>
        </div>

        <div class="form-submit-btn">
            <a href="{% url 'Movie:login' %}" class="register-link">REGISTER</a>

        </div>

        <div class="account">
            <p>Already have an account? <a href="{% url 'Movie:login' %}">Login</a></p>
        </div>

      </form>
    </div>
  </body>
  </html>