<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/admin-style.css"/>
        <title>PopcornHub</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'sign-out' %}">Sign Out</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <p>User</p>
                    <form action="{% url 'admin-home' %}" method="post" name="userSearchForm">
                        {% csrf_token %}
                        <input type="text" name="username" id="username" required />
                        <br /><br />
                        <input type="submit" name="button" value="user-search" />
                    </form>
                    <p id="tracker">{{ context.user }} <span id="total">Users</span></p>
                </div>

                <a href="{% url 'admin-home-users' %}" class="card-button">Display All</a>
            </div>
            <div class="card">
                <div class="card-content">
                    <p>Movie</p>
                    <form action="{% url 'admin-home' %}" method="post" name="movieSearchForm">
                        {% csrf_token %}
                        <input type="text" name="movie" id="movie" required />
                        <br />
                        <input
                            type="radio"
                            value="Movie"
                            name="search-setting"
                            id="search-setting-movie"
                            class="filter-setting"
                            required
                        />
                        Movie

                        <input
                            type="radio"
                            value="Director"
                            name="search-setting"
                            id="search-setting-director"
                            class="filter-setting"
                            required
                        />
                        Director

                        <input
                            type="radio"
                            value="Genre"
                            name="search-setting"
                            id="search-setting-genre"
                            class="filter-setting"
                            required
                        />
                        Genre

                        <input type="submit" name="button" value="movie-search" />
                    </form>
                    <p id="tracker">
                        {{ context.movie }} <span id="total">Number of Movies</span>
                    </p>
                </div>
                <a href="{% url 'admin-home-movies' %}" class="card-button">Display All</a>
            </div>
            <div class="card">
                <div class="card-content">
                    <p>Review</p>
                    <form action="{% url 'admin-home' %}" method="post" name="reviewSearchForm">
                        {% csrf_token %}
                        <input type="text" name="review" id="review" required />
                        <br />
                        <br />
                        <input type="submit" name="button" value="review-search" />
                    </form>
                    <p id="tracker">
                        {{ context.review }} <span id="total">Number of Movies Rated</span>
                    </p>
                </div>
                <div class="card-buttons">
                    <a href="{% url 'admin-home-reviews' %}" class="card-button">Display All</a>
                    <a href="{% url 'admin-home-spam-reviews' %}" class="card-button">Remove Spams</a>
                </div>

            </div>
        </div>
        <div class="list-container">
            <form action="{% url 'delete' %}" method="post" name="deleteForm">
                {% csrf_token %}
                <div class="list-item-container">
                {% if result and type == "user" %}
                    {% for item in result %}
                    <div class="list-item">
                        <input
                            type="checkbox"
                            value="{{ item.0 }}"
                            id="checkbox_value"
                            name="checkbox_group"
                        />
                        <br />
                                <div class="info">
                                    <p>User ID: <span id="info-content">{{ item.0 }}</span></p>
                                    <p>Username: <span id="info-content">{{ item.4 }}</span></p>
                                </div>
                    </div>
                    {% endfor %}
                    <div class="submitButton">
                        <button type="submit" name="delete-button" id="submit" value="delete-user-button">
                            Delete
                        </button>
                    </div>
                {% endif %}
                    {% if result and type == "movie" %}
                        {% for item in result %}
                            <div class="list-item">
                                <input
                                        type="checkbox"
                                        value="{{ item.0 }}"
                                        id="checkbox_value"
                                        name="checkbox_group"
                                />
                                <br />
                                <div class="info">
                                    <p>Movie ID: <span id="info-content">{{ item.0 }}</span></p>
                                    <p>Title: <span id="info-content">{{ item.1 }}</span></p>
                                    <p>Release Date: <span id="info-content">{{ item.2 }}</span></p>
                                    <p>Genre: <span id="info-content">{{ item.3 }}</span></p>
                                    <p>Description: <span id="info-content">{{ item.4 }}</span></p>
                                    <p>Runtime: <span id="info-content">{{ item.6 }}</span></p>
                                    <p>Director: <span id="info-content">{{ item.7 }}</span></p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="submitButton">
                            <button type="submit" name="delete-button" id="submit" value="delete-movie-button">
                                Delete
                            </button>
                        </div>
                    {% endif %}
                    {% if result and type == "review" %}
                        {% for item in result %}
                            <div class="list-item">
                                <input
                                        type="checkbox"
                                        value="{{ item.0 }}"
                                        id="checkbox_value"
                                        name="checkbox_group"
                                />
                                <br />
                                <div class="info">
                                    <p>Review ID: <span id="info-content">{{ item.0 }}</span></p>
                                    <p>Movie ID: <span id="info-content">{{ item.1 }}</span></p>
                                    <p>Title: <span id="info-content">{{ item.2 }}</span></p>
                                    <p>About: <span id="info-content">{{ item.3 }}</span></p>
                                    <p>Username: <span id="info-content">{{ item.4 }}</span></p>
                                    <p>Rating: <span id="info-content">{{ item.5 }}</span></p>
                                    <p>Comment: <span id="info-content">{{ item.6 }}</span></p>
                                    <p>Date Reviewed: <span id="info-content">{{ item.7 }}</span></p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="submitButton">
                            <button type="submit" name="delete-button" id="submit" value="delete-review-button">
                                Delete
                            </button>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </body>
</html>
